@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,400italic,100,100italic,300,300italic,600,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,200italic,200,400italic,600,600italic,700,700italic,900);
@import "settings";
$row-width: 100%;
@import "foundation";

$yelp_red: #af0606;

body {
    background-color: $jet;
    color: $white;
}

#header-row { 
    background-color: $yelp-red;
}

#header>h1 {
    font-family: 'Josefin Slab', serif;
    color: $white;
    font-size: 4em;
    font-weight: 300;

}
#header>h1>em {
    font-weight: 700;
}

h3 {
    color: $white;
    font-family: 'Titillium Web', sans-serif;
}

h4 {
    color: $white;
    font-family: 'Titillium Web', sans-serif;
}

#playlists, #theater, #chat {
    margin-top: 1rem;
}

label {
    color: $white;
}

h2 {
    color: $white;
}

#search-results {
    color: $black;
}

#chat-room {
    background-color: $black;
}

#chat-messages {
    min-height: 25rem;
}

#viewer {
    width: 800px;
    height: 600px;
}

/* Angular JS Hacks */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
